<ul>
  <li>
    <nav>
      <a routerLink="/">
        Home
      </a>
    </nav>
  </li>

  <li>
    <a href="http://200.200.101.101/200.200.101.101/scavHunts.html">
      ScavHunts
    </a>
  </li>

  <li>
    <a href="http://200.200.101.101/200.200.101.101/classifieds.html">
      Classifieds
    </a>
  </li>

  <li>
    <a href="http://200.200.101.101/200.200.101.101/About.html">
      About
    </a>
  </li>

  <li class="login">
    <nav>
      <a routerLink="login">
        Login
      </a>
    </nav>
  </li>
</ul>
