
.vs/gT_Underground/DesignTimeBuild/.dtbcache.v2
.vs/gT_Underground/FileContentIndex/1a02694e-328f-4689-b15f-fe510658ce3e.vsidx
.vs/gT_Underground/FileContentIndex/2b5b0477-1e68-4669-a8d7-56e44df74ad6.vsidx
.vs/gT_Underground/FileContentIndex/3ce8ab53-699f-4811-8bc7-fd8b998bfba9.vsidx
.vs/gT_Underground/FileContentIndex/68fa7147-c365-49dd-88bf-e27cb43541b1.vsidx
.vs/gT_Underground/FileContentIndex/a6151df4-e966-4faf-8910-f8d72d8fedc4.vsidx
.vs/gT_Underground/FileContentIndex/f7bb724f-d0e9-4e4b-92f1-9e4dededa7a2.vsidx
.vs/gT_Underground/v17/.futdcache.v2
.vs/gT_Underground/v17/.suo
.vs/ProjectEvaluation/gt_underground.metadata.v6.1
.vs/ProjectEvaluation/gt_underground.projects.v6.1
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/gT_Underground/FileContentIndex/2b5b0477-1e68-4669-a8d7-56e44df74ad6.vsidx
.vs/gT_Underground/FileContentIndex/68fa7147-c365-49dd-88bf-e27cb43541b1.vsidx
.vs/gT_Underground/FileContentIndex/f7bb724f-d0e9-4e4b-92f1-9e4dededa7a2.vsidx
.vs/gT_Underground/v17/.suo
.vs/slnx.sqlite
